.table-wrapper {
  border-radius: 20px;
  overflow: hidden;
}
.el-table {
  color: #1c1d21;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  th {
    background: rgba(245, 245, 250, 0.4);
    .cell {
      line-height: 18px;
    }
  }
}

.el-table {
  th,
  td,
  th.is-leaf,
  .el-table--border,
  .el-table--group,
  .el-table--border::after,
  .el-table--group::after {
    border: 0px !important;
  }
  &::before {
    height: 0;
  }
  & thead th {
    padding-top: 17px;
    padding-bottom: 20px;
    .cell {
      padding-left: 32px;
      padding-right: 0px;
    }
  }
  background-color: white;
  thead {
    color: #8181a5;
    font-weight: bold;
  }
  .cell {
    padding-left: 32px;
    padding-right: 0px;
    word-break: break-word;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.el-table.el-table--mini {
  & thead th {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

#providerTable,
#personalCustomerTable,
#groupCustomerTable,
#planTable,
#featureTable,
#applicationTable,
#receiverTable,
#memberTable,
#contactTable {
  padding-bottom: 10px;
  thead th {
    padding-top: 12px;
    padding-bottom: 12px;
    line-height: 34px;
  }
  .el-table__header-wrapper {
    margin-bottom: 10px;
  }
}
.action-column .cell {
  padding-right: 34px;
  display: flex;
  justify-content: flex-end;
}
#campaignTable,
#contactTable {
  .selection-column {
    border-bottom: 0 !important;
    .cell {
      height: 16px;
      line-height: 16px;
      padding-right: 8px;
      .el-checkbox {
        height: 16px;
        line-height: 16px;
      }
      .el-checkbox__inner {
        width: 16px;
        height: 16px;
        border-radius: 4px;
        border: 1px solid #9698d6;
        &::after {
          left: 4.8px;
          top: 2px;
        }
      }
    }
  }
  .selection-column-label {
    vertical-align: middle !important;
    .cell {
      height: 20px;
      line-height: 17px;
      padding-right: 8px;
      .el-checkbox {
        height: 17px;
        line-height: 17px;
      }
      .el-checkbox__inner {
        width: 16px;
        height: 16.5px;
        border-radius: 4px;
        border: 1px solid #9698d6;
        &::after {
          left: 5px;
          top: 2px;
        }
        &::before {
          top: 6px;
        }
      }
    }
  }
  .selection-nearby-column .cell {
    padding-left: 0px !important;
  }
}
#campaignTable {
  &.el-table {
    td {
      border-bottom: 1px solid #ebeef5 !important;
      padding: 15px 0;
    }
    .cell {
      padding-left: 24px;
    }
  }
  &.el-table td.selection-column {
    vertical-align: top;
    border-bottom: none !important;
  }
  &.el-table td.no-border-bottom {
    border-bottom: none !important;
  }
  .open-rate,
  .interactive-rate {
    display: flex;
    .label {
      color: #7a7a7a;
      font-weight: 600;
      font-size: 10px;
      line-height: 18px;
    }
    .value {
      font-weight: 600;
      font-size: 14px;
      line-height: 18px;
      color: #000000;
    }
  }
}
#contactTable {
  td {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  &.el-table .cell {
    padding-left: 24px;
  }

  .selection-column {
    vertical-align: middle;
  }
}
#importContactTable {
  &.el-table {
    td,
    th {
      border-bottom: 1px solid #ebeef5 !important;
      padding: 14px 0;
    }
    th .cell {
      line-height: 32px;
    }
    .cell {
      height: 32px;
      //   display: flex;
      //   align-items: center;
      padding-left: 16px;
      .value {
        line-height: 32px;
      }
    }
    .action-column,
    .error-column {
      .cell {
        display: flex;
        align-items: center;
      }
    }
  }
}
